:root {
    --bg_color: rgb(20, 20, 20);
}

.header {
    width: 100%;
    background-color: var(--bg_color);
}
.fnv-logo {
    background-image: url("img/fnv_logo.jpg");
    margin: auto;
    display: block;
    opacity: 1;
    box-shadow: 0 0 2em 2em var(--bg_color) inset;
    width: 500px;
    height: 500px;
    border-radius: 25%;
}
.img-container {
    width: 100%;
    background-color: var(--bg_color);
}
.main-img {
    background-image: url("img/fnv_divine_barrel.jpg");
    margin: auto;
    display: block;
    opacity: 1;
    box-shadow: 0 0 2em 2em var(--bg_color) inset;
    max-width: 655px;
    height: 642px;
    border-radius: 10%;
    background-repeat: no-repeat;
}